<!--FOOTER BEGIN-->
      <div id="footer">
         <div class="container"><div class="copyright">&copy; Copyright 2013 Impressive. All rights reserved.</div></div>
      </div>
      <!--FOOTER END-->