    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand"><a href="index"><span class="red">I</span>mpressive</a></div>
          <div class="test">
         	  <button type="button" class="btn btn-navbar black" data-toggle="collapse" data-target="#nav">
              	 <span class="ButWrap">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </span>
                 <span data-value='current-nav' class="CurrentPage">Home</span>
              </button>
              <ul class="Socials">
                 <li><a href="#" class="tweet"><span></span></a></li>
                 <li><a href="#" class="facebook"><span></span></a></li>
                 <li><a href="#" class="pint"><span></span></a></li>
              </ul>    
          </div>
          <div class="nav-collapse collapse customMenu" id="nav">
          <div id="wrapper">
          <div id="scroller">
            <ul class="nav pull-right TopMenu">
              <li class="active"><a href="/interior/index">Home</a></li>
              <li><a href="/interior/about_us" class="aLink">About</a></li>
              <li><a href="/interior/gallery" class="aLink">Gallery</a></li>
              <li><a href="/interior/portfoliov2" class="aLink">AKG Design Portfolio</a></li>
              <li><a href="/interior/contact_us" class="aLink">Contact</a></li>
             
              <li class="pageclick">
              	<a href="#">Pages</a>
                <ul class="DropMenu">
                	<li><a href="full_width_4column_blog.html" class="aLink">Full Width 4 Column Blog</a></li>
                    <li><a href="full_width_3column_blog.html" class="aLink">Full Width 3 Column Blog</a></li>
                    <li><a href="blog_with_right_sidebar.html" class="aLink">Blog With Right Sidebar</a></li>
                    <li><a href="blog.html" class="aLink">Blog With Left Sidebar</a></li>
                    <li class="pageclick">
                    	<a href="#">Single Blog Posts<span class="plus">+</span></a>
                        <ul>
                        	<li><a href="blog-single.html" class="aLink">Image Post</a></li>
                            <li><a href="image_slideshow_post.html" class="aLink">Image Slideshow Post</a></li>
                            <li><a href="youtube-post.html" class="aLink">Youtube Post</a></li>
                            <li><a href="vimeo-post.html" class="aLink">Vimeo Post</a></li>
                            <li><a href="html5-player.html" class="aLink">HTML5 Video Post</a></li>
                        </ul>
                    </li>
                    <li><a href="portfoliov2.html" class="aLink">Portfolio version 2</a></li>
                    <li><a href="project-page.html" class="aLink">Project Page</a></li>
                    <li><a href="page_with_right_sidebar.html" class="aLink">Page With Right Sidebar</a></li>
                    <li><a href="page_with_left_sidebar.html" class="aLink">Page With Left Sidebar</a></li>
                    <li><a href="404.html" class="aLink">404 Page</a></li>
                    <li><a href="sitemap.html" class="aLink">Sitemap</a></li>
                    
                </ul>
              </li>
              
            </ul>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
