 
     
    <div id="wrap">  
         <!--CONTACTS BEGIN-->
          <div id="contacts">
          <div class="row BottomMenuWrap" id="contacts_menu">
        	<div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                    <div class="test">
                    <div class="empty"></div>
                        <button type="button" class="btn btn-navbar gray" data-toggle="collapse" data-target="#contacts .nav-collapse">
                        	<span class="ButWrap">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </span>
                            <span data-value='current-nav' class="CurrentPageGray">Contact Information</span>
                        </button> 
                    </div>
                    	<div class="nav-collapse collapse customMenuGray">
                        <ul class="nav-tabs BottomMenu" data-parent="#contacts">
                            <li class="active"><a href="#MapContact" data-toggle="tab">Contact Information</a></li>
                            <li><a href="#GetInTouch" data-toggle="tab">Get In Touch</a></li>
                        </ul>
                      </div>
                      </div>
                  </div>
              </div>
         </div>
         	<div class="tab-content">
            <div class="tab-pane fade in active" id="MapContact">
          	<div class="MapWrap">
            	<iframe width="0" height="600" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=St+Vincent+Crescent,+Glasgow,+Glasgow+City+G3,+United+Kingdom&amp;aq=&amp;sll=32.10119,41.660156&amp;sspn=59.921926,135.263672&amp;ie=UTF8&amp;geocode=FbprVAMdI5e-_w&amp;split=0&amp;hq=&amp;hnear=St+Vincent+Crescent,+Glasgow+G3+8NG,+United+Kingdom&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            </div>
            <div class="row-fluid">
            <div class="container ContactBottom">
            	<div class="span6">
                	<div class="ContactTitle">Contact Info</div>
                    <ul class="ContactList">
                    	<li class="address">9870 St Vincent Place, Glasgow, DC 45 Fr 45.</li>
                        <li class="phone">+1 800 559 6580<br />+1 800 603 6035</li>
                        <li class="mail"><a href="mailto:mail@companyname.com">mail@companyname.com</a></li>
                        <li class="skype">skype.name</li>
                    </ul>
                </div>
                <div class="span6">
                	<div class="ContactTitle">Text Widget</div>
                    <div class="ContactText">
                    	<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                        <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="tab-pane fade in" id="GetInTouch">
            	<div class="row-fluid">
                	<div class="container ContactBottom">
                        <div class="span3"><div class="title">Get In Touch</div></div>
                        <div class="span9">
                        <div class="aboutText">
                            <p class="muted">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Required fields are marked with an asterisk *</p> 
                        </div>
                        	<div class="CommentFormWrap">
                    	<form id="contact-form" action="#" method="post" enctype="multipart/form-data" >
                        <div class="success" >Message has been sent successfully</div>
                        <fieldset>
                        	<div class="span12">
                            	<div class="span4">
                                	<label class="name"><input type="text" class="name" value="Your Name*" onFocus="javascript:if(this.value == 'Your Name*') this.value = ''"
        onblur="javascript:if(this.value == '') { this.value = 'Your Name*';}" /><span class="error" >*error</span><span class="empty" >*empty field</span></label>
                                    
                                </div>
                                <div class="span4">
                                	<label class="email"><input type="text" class="email" value="Email*" onFocus="javascript:if(this.value == 'Email*') this.value = ''"
        onblur="javascript:if(this.value == '') { this.value = 'Email*';}" />
                                    <span class="error" >*error</span><span class="empty" >*empty field</span></label>
                                </div>
                                <div class="span4">
                                	<label class="text"><input type="text" class="text" value="Subject" onFocus="javascript:if(this.value == 'Subject') this.value = ''"
        onblur="javascript:if(this.value == '') { this.value = 'Subject';}" />
                                    <span class="error" >*error</span><span class="empty" >*empty field</span></label>
                                </div>
                                <div class="span12 AreaWrap">
                                	<label class="message"><textarea onFocus="javascript:if(this.value == 'Message') this.value = ''"
        onblur="javascript:if(this.value == '') { this.value = 'Message';}" class="message">Message</textarea><span class="error" >*error</span><span class="empty" >*empty field</span></label>
                                </div>
                            </div>
                            <div class="span12">
                            	<div class="SubmitWrap">
                                    <span class="captcha"><em class="captcha_exp">Anti-spam test:<br/><em class="num_1"></em>+<em class="num_2"></em>=</em></span>
                                    <label class="captcha" style="float:left;"><input type="text" name="captcha_res" id="captcha_res">						
                                      <span class="error">*Incorrect.</span> 
                                      <span class="empty">*empty.</span> </label>
                                    <input type="submit" value="send your message" />
                                </div>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
         <!--CONTACTS END-->
                  
      </div>
      <!--WRAP END-->
         
     