


     
    
    <div id="wrap">  
    <div id="index"> 
    <!--<div class="container-fluid slideWrap">
            <div class="m-carousel m-fluid m-carousel-photos">
                <div class="m-carousel-inner">
                    <div class="m-item m-active"><img src="/assets/pic.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic1.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic2.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic7.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic8.jpg" alt=""></div>
                </div>
                <div class="m-carousel-controls m-carousel-bulleted">
                    <a class="m-active" href="#" data-slide="1">1</a>
                    <a class="" href="#" data-slide="2">2</a>
                    <a class="" href="#" data-slide="3">3</a>
                    <a class="" href="#" data-slide="4">4</a>
                    <a class="" href="#" data-slide="5">5</a>
                </div>
                <div class="m-carousel-controls m-carousel-hud">
                    <a class="m-carousel-prev" href="#" data-slide="prev">Previous</a>
                    <a class="m-carousel-next" href="#" data-slide="next">Next</a>
                 </div>
            </div>   
        </div>-->
        <div class="slideWrap">
        <div class="m-carousel m-fluid m-carousel-photos">
                <div class="m-carousel-inner">
                    <div class="m-item m-active">
                    	<img src="/assets/pic47.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="/assets/pic48.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="/assets/pic49.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="/assets/pic50.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="/assets/pic51.jpg" alt="">
                   	</div>
                   
                </div>
                <div class="m-carousel-controls m-carousel-bulleted">
                    <a class="m-active" href="#" data-slide="1">1</a>
                    <a class="" href="#" data-slide="2">2</a>
                    <a class="" href="#" data-slide="3">3</a>
                    <a class="" href="#" data-slide="4">4</a>
                    <a class="" href="#" data-slide="5">5</a>
                </div>
                <div class="m-carousel-controls m-carousel-hud">
                    <a class="m-carousel-prev" href="#" data-slide="prev">Previous</a>
                    <a class="m-carousel-next" href="#" data-slide="next">Next</a>
                 </div>
            </div>
                
            </div>
        <div class="row-fluid">
            <div class="container-fluid UnderSlide">
            <div class="container">
            <div class="span12"><div class="title">From Our Blog</div></div>
            </div>
            </div>
            <div class="container-fluid FromBlog">
                <div class="container">
                    <div class="span3">
                    	<div class="BlogArticle">
                            <div class="ImgWrap"><span class="date">JAN<br /><span>28</span></span><img src="/assets/01.jpg" alt=""></div>
                            <div class="WhiteTone">
                            <a href="./blog-single.html"><span class="title">Vestibulum Libero</span></a>
                            <p class="comments"><span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments"><span class="count">0</span>
                             comment</a><p>
                            </div>
                       	</div>
                    </div>
                    <div class="span3">
                      <div class="BlogArticle">
                           <div class="ImgWrap"><span class="date">JAN<br /><span>23</span></span><img src="/assets/02.jpg" alt=""></div>
                           <div class="WhiteTone">
                           <a href="./blog-single.html"><span class="title">Voluptas Sit Aspernatur</span></a>
                           <p class="comments"><span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments"><span class="count">5</span> 
                           comment</a><p>
                           </div>
                        </div>
                    </div>
                    <div class="span3">
                      <div class="BlogArticle">
                           <div class="ImgWrap"><span class="date">JAN<br /><span>19</span></span><img src="/assets/03.jpg" alt=""></div>
                           <div class="WhiteTone">
                           <a href="./blog-single.html"><span class="title">Donec Porta Diam</span></a>
                           <p class="comments"><span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span>  <a href="#" class="comments"><span class="count">9</span>
                            comment</a><p>
                           </div>
                        </div>
                    </div>
                    <div class="span3">
                      <div class="BlogArticle">
                           <div class="ImgWrap"><span class="date">JAN<br /><span>12</span></span><img src="/assets/04.jpg" alt=""></div>
                           <div class="WhiteTone">
                           <a href="./blog-single.html"><span class="title">Proin Dictum Element</span></a>
                           <p class="comments"><span class="muted">by</span> <a href="#" class="name">Admin  /</a>  <span class="muted">with</span> <a href="#" class="comments"><span class="count">15</span>
                            comment</a><p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
      <!--WRAP END-->
         
      <!--FOOTER BEGIN-->
      
      <!--FOOTER END-->
      
      <!--ANOTHER SCRIPT-->
    
    <script type="text/javascript">
	//<![CDATA[
		$(function() {
		$( "#accordion" ).accordion({
			collapsible: true
			});
		});
		//]]>
	</script>
    <script type="text/javascript">
	//<![CDATA[
		var myScroll;
		function loaded() {
			myScroll = new iScroll('wrapper');
		}
		document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
		//]]>
	</script>
		
        <script>$('.m-carousel').carousel();</script>
        <script>
		//<![CDATA[
            $(document).ready(function() {
                $('#nav').onePageNav({
                    begin: function() {
                        //console.log('start');
                    },
                    end: function() {
						//
                    },
                    scrollOffset: 0
                });
				$(window).load(function(){
					$('#contact-form').forms({
						ownerEmail:'ex_the_one@rambler.ru'
						})
					})	;

				    $('#myCollapsible').collapse({
					toggle: true
					})
            });
			//]]>
        </script>
