<div id="wrap"> 
    <div id="FullBlog">
    <div class="row BottomMenuWrap">
        <div class="navbar">
            <div class="navbar-inner">
            <div class="container">
            <div class="test">
            <div class="empty"></div>
                <button type="button" class="btn btn-navbar gray" data-toggle="collapse" data-target="#FullBlog .nav-collapse">
                    <span class="ButWrap">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </span>
                    <span data-value='current-nav' class="CurrentPageGray">All</span>
                </button>
            </div>
            <div class="nav-collapse collapse customMenuGray">
            <section id="options">
                <ul class="nav-tabs BottomMenu option-set" id="SortList" data-option-key="filter" data-parent="#FullBlog" data-scroll='disabled'>
                   
                    <li><a href="#filter" data-option-value=".Residential">Projects</a></li>
                    <li><a href="#filter" data-option-value=".Retail">Retail</a></li>
                    <li><a href="#filter" data-option-value=".Hotels">Hotels & Bars</a></li>
                </ul>
             </section>
             </div>
             </div>
             </div>
         </div>
     </div>
    <div class="row Blog4ColumnContent" id="portfolio-grid">
        <div class="container">
        <div class="span12">
          <div class="span9 MainTitle">
          
            </div>
        </div>

        <div class="span12 Null">
        <section id="portfolio-wrapper">
      <ul class="portfolio grid isotope">
         <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/interior/project1"><img src="/assets/pic25.jpg" alt=""><span class="title">Project 1<br /><em>Projects</em></span></a>
        </li>      
        <li data-category="Hotels" class="Hotels item-small isotope-item">
          <a href="project-page.html"><img src="/assets/pic24.jpg" alt=""><span class="title">Voluptas Sit Aspernatur<br /><em>Hotels</em></span></a>
        </li> 
                
         <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/interior/project2"><img src="/assets/pic25.jpg" alt=""><span class="title">Project 2<br /><em>Projects</em></span></a>
        </li> 
                      
        <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/interior/project3"><img src="/assets/pic25.jpg" alt=""><span class="title">Project 3<br /><em>Projects</em></span></a>
        </li>         
                
        <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/interior/project4"><img src="/assets/pic27.jpg" alt=""><span class="title">Project 4<br /><em>Projects</em></span></a>
                <li data-category="Hotels" class="Hotels item-long isotope-item">
          <a href="project-page.html"><img src="/assets/pic29.jpg" alt=""><span class="title">Duis sagittis nunc eget arcu<br /><em>Hotels & Bars</em></span></a>
        </li>
        <li data-category="Retail" class="item-small isotope-item">
          <a href="project-page.html"><img src="/assets/pic28.jpg" alt=""><span class="title">Etiam ipsum elit egestas adipiscing<br /><em>Retail</em></span></a>
        </li>
                
         <li data-category="Hotels" class="Hotels item-high isotope-item">
          <a href="project-page.html"><img src="/assets/pic32.jpg" alt=""><span class="title">Phasellus posuere pellentesque<br /><em>Hotels & Bars</em></span></a>
        </li>
                
                <li data-category="Retail" class="Retail item-wide isotope-item">
          <a href="project-page.html"><img src="/assets/pic33.jpg" alt=""><span class="title">Cras aliquet augue tincidunt<br /><em>Retail</em></span></a>
        </li>
                <li data-category="Retail" class="Retail item-small isotope-item">
          <a href="project-page.html"><img src="/assets/pic30.jpg" alt=""><span class="title">Mauris aliquam laoreet arcu<br /><em>Retail</em></span></a>
        </li>
                
                <li data-category="Retail" class="Retail item-small isotope-item">
          <a href="project-page.html"><img src="/assets/pic36.jpg" alt=""><span class="title">Praesent tortor nibh tempor sit amet<br /><em>Retail</em></span></a>
        </li>
                
               
                 <li data-category="Hotels" class="Hotels item-small isotope-item">
          <a href="#"><img src="/assets/pic35.jpg" alt=""><span class="title">Sed sodales sapien non<br /><em>Hotels & Bars</em></span></a>
        </li>
                <li data-category="Hotels" class="Hotels item-small isotope-item">
          <a href="#"><img src="/assets/pic31.jpg" alt=""><span class="title">Aliquam rutrum enim<br /><em>Hotels</em></span></a>
        </li>

        
      </ul> 
    </section>    
        </div>   
        </div>
    </div>
    </div>
    </div>